/* VIEW-WRAPPER */

.view-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	min-height: calc( 100vh + 0px );
	padding: 0;
	overflow: hidden;
	body.is-load & {
		visibility: hidden; // before page load
	}
}

.container {
	position: relative;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 15px;
}