/* CONTENT */

.view-section {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	order: 2;
	flex-grow: 1;
	background: linear-gradient( 45deg, #e9e9ff, #e1e1ff );
}
.box-content {
	max-width: 1024px;
	padding: 30px 15px;
	&__title {
		font-size: 24px;
		line-height: 1.5;
		text-align: center;
		color: rgba( 0, 0, 0, .5 );
	}
	&__copyright {
		line-height: 1.5;
		font-weight: 700;
		letter-spacing: 1px;
		text-align: center;
		color: rgba( 0, 0, 0, .3 );
	}
}
.form-generate {
	padding: 50px 0;
	&__title {
		position: relative;
		margin-bottom: 20px;
		padding-bottom: 10px;
		font-size: 14px;
		font-weight: 600;
		color: rgba( 0, 0, 0, .6 );
		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			display: block;
			width: 150px;
			height: 1px;
			background: linear-gradient( to right, rgba( 0, 0, 0, .6 ), rgba( 0, 0, 0, 0 ) );
		}
	}
	&__row {
		display: flex;
		align-items: center;
	}
	&__field {
		padding-bottom: 30px;
	}
	&__label {
		display: flex;
		align-items: center;
		padding: 10px;
		cursor: pointer;
		&--column {
			padding-bottom: 30px;
			&:last-child {
				padding-bottom: 10px;
			}
			span {
				min-width: 200px;
				padding-right: 20px;
				color: rgba( 0, 0, 0, .6 );
			}
		}
	}
	.radio {
		& + ins {
			position: relative;
			display: block;
			width: 50px;
			height: 25px;
			border-radius: 15px;
			border: 1px solid rgba( 0, 0, 0, .1 );
			background: #fff;
			transition: background .3s ease-in-out;
			&::before {
				content: '';
				position: absolute;
				top: 2px;
				left: 2px;
				display: block;
				width: 19px;
				height: 19px;
				border-radius: 50%;
				background: rgba( 0, 0, 0, .2 );
				transition: left .3s ease-in-out;
			}
			& + span {
				display: block;
				padding: 10px;
				color: rgba( 0, 0, 0, .6 );
				transition: color .3s ease-in-out;
			}
		}
		&:checked {
			& + ins {
				background: #e9ffe9;
				&::before {
					left: calc( 100% - 21px );
				}
				& + span {
					color: #199919;
				}
			}
		}
	}
	.form-control {
		display: block;
		width: 100%;
		height: 40px;
		padding: 0 10px;
		border-radius: 4px;
		border: 1px solid rgba( 0, 0, 0, .2 );
		line-height: 40px;
		transition: border-color .3s ease-in-out;
		&:focus {
			border-color: rgba( 0, 0, 0, .3 );
		}
		&--counter {
			width: 70px;
		}
		&--color {
			max-width: 200px;
		}
	}
}